fastapi
azure-identity==1.13.0
langchain==0.0.236
openai==0.27.0
tiktoken
azure-search-documents==11.6.0b1
azure-storage-blob==12.15.0
azure-cosmos
uvicorn[standard]==0.23.2
aiohttp
azure-monitor-opentelemetry==1.0.0b15
opentelemetry-instrumentation-asgi==0.40b0
opentelemetry-instrumentation-requests==0.40b0
opentelemetry-instrumentation-aiohttp-client==0.40b0
botbuilder-core
botframework-connector
azure-functions
python-multipart
PyPDF2
PyMuPDF
azure-storage-queue==12.9.0
azure-ai-formrecognizer
reportlab
openpyxl
docx2pdf
fpdf
bcrypt
jose
python-docx
